body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding-left: 10px;
  margin-bottom: 10px;
}

.content {
  background: #e3f4ff;
  margin-bottom: 10px;
  padding: 10px;

}

.button-container {
  background: #e3f4ff;
  margin-bottom: 10px;
  text-align: center;
  padding: 15px;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  padding:10px;
  display: block;
}